<h2>New Student</h2>

<form action='/students' method="post">
    <label for="student[nombre]">Nombre</label>
    <br>
    <input type="text" name="student[nombre]"
    <br>
    <br>
    <label for="student[correo]">Email</label>
    <br>
    <input type="text" name="student[correo]"
    <br>
    <br>
    <label for="student[fecha]">Fecha de Nacimiento</label>
    <br>
    <input type="text" name="student[fecha]"
    <br>
    <br>
    <label for="student[programa]">Programa</label>
    <br>
    <input type="text" name="student[programa]"
    <br>
    <br>
    <input type="submit" value="Guardar">



