<ul>
    <li>Nombre: <%= @student.nombre %></li>
    <li>Correo: <%= @student.correo %></li>
    <li>Programa: <%= @student.programa %></li>
    <li>Fecha de Nacimiento: <%= @student.fecha_nacimiento %></li>
    
</ul>