<h2>New Teacher</h2>

<form action='/teachers' method="post">
    <label for="teacher[nombre]">Nombre</label>
    <br>
    <input type="text" name="teacher[nombre]"
    <br>
    <br>
    <label for="teacher[correo]">Email</label>
    <br>
    <input type="text" name="teacher[correo]"
    <br>
    <br>
    <label for="teacher[fecha_nacimiento]">Fecha de Nacimiento</label>
    <br>
    <input type="text" name="teacher[fecha_nacimiento]"
    <br>
    <br>
    <label for="teacher[programa]">Programa</label>
    <br>
    <input type="text" name="teacher[programa]"
    <br>
    <br>
    <input type="submit" value="Guardar">