<ul>
    <li>Nombre: <%= @teacher.nombre %></li>
    <li>Correo: <%= @teacher.correo %></li>
    <li>Programa: <%= @teacher.programa %></li>
    <li>Fecha de Nacimiento: <%= @teacher.fecha_nacimiento %></li>
    
</ul>